@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
    //border: 1px solid #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none; 
    padding: 0;
}

p{
    //max-width: 40%;
}

.costa{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.social{
    text-decoration: none;
    padding: 1rem;
}

.header{
    text-align: center;  
}

.site-header{
    width: 60%;
    display: inline-block;
    text-align: left;
    margin-top: 2rem;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.title{
    display: inline-block;
    vertical-align: middle;
}

.nav{
    width: 60%;
    display: inline-block;
    text-align: left;
}

.main{
    text-align: center;
}

.my-content{
    width: 60%;
    display: inline-block;
    text-align: left;
}

.footer{
    text-align: center;
}